/*css rules to specify family: font-family: 'Work Sans', sans-serif*/
body {
    font-family: Work Sans, sans-serif;
    transform: scaleX(90%);
}

/*    @media screen  and (max-width: 991px) {*/
/*    hr {*/
/*        visibility: hidden;*/
/*    }*/
/*    h6{*/
/*        visibility: hidden;*/
/*    }*/
/*}*/

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    text-align: center;
    background-color: steelblue;
    color: white;
    border-radius: 100%;
    font-family: Work Sans, sans-serif;
    border: 8px solid #f0f0f0;
    font-weight: bold;

}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18px;
    width: 18px;
    text-align: center;
    background-color: steelblue;
    color: black;
    border-radius: 100%;
    font-weight: bold;
    padding-right: 10px;
    padding-left: 10px;
}

/*#logoholder {*/
/*    display: inline-flex;*/
/*    justify-content: space-evenly;*/
/*    width: 100%;*/
/*}*/

/*.selected {*/
/*    flex-wrap: wrap;*/
/*    justify-content: space-evenly;*/
/*    display: flex;*/
/*}*/

.images {
    border: 8px solid #f0f0f0;

}

section {
    /*width: 35%;*/
    /*display: flex;*/
    /*align-items: flex-start;*/
}

/*@media screen and (max-width: 599px) {*/
/*    img {*/
/*        width: 70%;*/
/*    }*/
/*}*/